@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.green {
  text-decoration: none;
  color: hsl(160, 100%, 37%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  .green:hover {
    background-color: hsl(160, 100%, 37%, 0.2);
  }
}